<%-include('../cabecalhoadmin.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Certificados</h1>

        <table class="table">
                <thead class="thead-light">
                        <th>Nome</th>
                        <th>Certificado</th>
                </thead>                
                <tbody>
                        <tr>
                                <td></td>
                                <td></td>
                        </tr>
                </tbody>
        </table>

</div>
<%-include('../rodapeadmin.ejs')%>