<%-include('../cabecalhoadmin.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Lista de Eventos</h1>

        <table class="table">
                <thead class="thead-dark">
                        <th colspan="2">Segunda-feira, 13 de Março de 2023.</th>
                </thead>
                <thead class="thead-light">
                        <th colspan="2">Manhã</th>
                </thead>
                <tbody>
                        <tr>
                                <td>07:45h - 08:00h</td>
                                <td>Credenciamento</td>
                        </tr>
                </tbody>
                <thead class="thead-light">
                        <th colspan="2">Tarde</th>
                </thead>
                <tbody>
                        <tr>
                                <td>07:45h - 08:00h</td>
                                <td>Credenciamento</td>
                        </tr>
                </tbody>
        </table>

</div>
<%-include('../rodapeadmin.ejs')%>