<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IFSul - SACI 2022</title>

    <!-- Principal CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!-- Estilos customizados para esse template -->
    <link href="/css/css.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" height="30" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown px-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sobre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/sobre">O evento</a>
                        <a class="dropdown-item" href="/organizacao">Organização</a>
                        <a class="dropdown-item" href="/local">Localização</a>
                        <a class="dropdown-item" href="/contato">Contato</a>
                    </div>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="/programacao">Programação</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="/noticias">Notícias</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="/fotos">Fotos</a>
                </li>

            </ul>

            <a class="btn btn-outline-success my-2 my-sm-0" href="/inscricao">Entrar</a>

        </div>
    </nav>