<%-include('../cabecalho.ejs')%>

<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Organização</h1>
        <div class="card-columns">
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
                <div class="card">
                        <img class="card-img-top" src="/img/saci.png" alt="Card image cap">
                        <div class="card-body">
                                <p class="card-text">Foto 1.</p>
                        </div>
                </div>
        </div>
</div>

<%-include('../rodape.ejs')%>