<%-include('../cabecalho.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Localização</h1>
<div class="row w-100">
        <div class="col-lg-6 my-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.973107748066!2d-54.07403878527176!3d-31.332115781432304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9505df3d8c550c31%3A0xfcdc0c240d6b238e!2sIFSUL%20-%20Campus%20Bag%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1676657056438!5m2!1spt-BR!2sbr"
                        class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-6 my-4 d-flex align-items-center">
                <div>
                        <h4>IFSul - Instituto Federal Sul-Rio-Grandense campus Bagé</h4>
                        <p>Endereço. Av. Leonel de Moura Brizola, 2501 | Bagé - RS | CEP: 96.418-400 - Brasil.</p>
                        <p>O evento será realizado no IFSul - Campus Bagé, as palestras serão realizadas no auditório do campus e as oficinas nos laboratórios de informática.</p>
                        
                </div>
        </div>
</div>
</div>
<%-include('../rodape.ejs')%>