<%-include('../cabecalho.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Organização</h1>
        <h4>Coordenação</h4>
        <ul>
                <li>Diego de Abreu Porcellis</li>
                <li>Anderson</li>
        </ul>
        <h4>Comitê Organizador</h4>
        <ul>
                <li>Diego de Abreu Porcellis</li>
                <li>Anderson</li>
        </ul>
</div>
<%-include('../rodape.ejs')%>