<%-include('../cabecalho.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Programação</h1>

        <table class="table">
                <thead class="thead-dark">
                        <th colspan="2">Segunda-feira, 13 de Março de 2023.</th>
                </thead>
                <thead class="thead-light">
                        <th colspan="2">Manhã</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">07:45h - 08:30h</td>
                                <td>Credenciamento</td>
                        </tr>
                        <tr>
                                <td class="col-2">08:30h - 09:00h</td>
                                <td>Abertura</td>
                        </tr>
                        <tr>
                                <td class="col-2">09:00h - 10:30h</td>
                                <td>Palestra (em breve)</td>
                        </tr>
                        <tr>
                                <td class="col-2">10:30h - 11:00h</td>
                                <td>Coffee Break</td>
                        </tr>
                        <tr>
                                <td class="col-2">11:00h - 12:15h</td>
                                <td>Palestra (em breve)</td>
                        </tr>
                </tbody>
                <thead class="thead-light">
                        <th colspan="2">Tarde</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">13:30h - 14:00h</td>
                                <td>Credenciamento</td>
                        </tr>
                        <tr>
                                <td class="col-2">14:00h - 15:30h</td>
                                <td>Minicursos</td>
                        </tr>
                        <tr>
                                <td class="col-2">15:30h - 16:00h</td>
                                <td>Coffee Break</td>
                        </tr>
                        <tr>
                                <td class="col-2">16:30h - 18:15h</td>
                                <td>Minicursos</td>
                        </tr>                        
                </tbody>
        </table>

        <table class="table">
                <thead class="thead-dark">
                        <th colspan="2">Segunda-feira, 14 de Março de 2023.</th>
                </thead>
                <thead class="thead-light">
                        <th colspan="2">Manhã</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">07:45h - 08:30h</td>
                                <td>Credenciamento</td>
                        </tr>
                        <tr>
                                <td class="col-2">08:30h - 10:30h</td>
                                <td>Minicurso</td>
                        </tr>
                        <tr>
                                <td class="col-2">10:30h - 11:00h</td>
                                <td>Coffee Break</td>
                        </tr>
                        <tr>
                                <td class="col-2">11:00h - 12:15h</td>
                                <td>Minicurso</td>
                        </tr>
                </tbody>
                <thead class="thead-light">
                        <th colspan="2">Tarde</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">13:30h - 14:00h</td>
                                <td>Credenciamento</td>
                        </tr>
                        <tr>
                                <td class="col-2">14:30h - 15:30h</td>
                                <td>“Mercado da tecnologia pós pandemia, trabalho remoto e o que preciso para a primeira oportunidade” por Rodrigo Figueira de Freitas</td>
                        </tr>
                        <tr>
                                <td class="col-2">15:30h - 16:00h</td>
                                <td>Coffee Break</td>
                        </tr>
                        <tr>
                                <td class="col-2">16:30h - 18:15h</td>
                                <td>"Guia da vida real para entrar no mercado de tecnologia e fazer sucesso!" por Vitor Régis de Ramos</td>
                        </tr>
                </tbody>
        </table>

        <table class="table">
                <thead class="thead-dark">
                        <th colspan="2">Segunda-feira, 15 de Março de 2023.</th>
                </thead>
                <thead class="thead-light">
                        <th colspan="2">Manhã</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">07:45h - 12:15h</td>
                                <td>Jogos digitais, jogos de tabuleiro e competição de Cosplay</td>
                        </tr>
                </tbody>
                <thead class="thead-light">
                        <th colspan="2">Tarde</th>
                </thead>
                <tbody>
                        <tr>
                                <td class="col-2">13:30h - 18:15h</td>
                                <td>Jogos digitais, jogos de tabuleiro e competição de Cosplay</td>
                        </tr>
                </tbody>
        </table>



</div>
<%-include('../rodape.ejs')%>