<%-include('../cabecalho.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Sobre</h1>
        <p>A 7ª SACI 2022 - Semana acadêmica do Curso de Informática - promete ser um evento empolgante, com uma
                programação variada que atenderá a diversos interesses dos participantes. Serão três dias de atividades
                intensas, que acontecerão nos dias 13 a 15 de março.</p>
        <p>Uma das principais atrações da SACI serão as palestras, que contarão com a presença de profissionais
                renomados da área de Tecnologia da Informação, que compartilharão suas experiências e conhecimentos com
                os participantes. As oficinas serão uma oportunidade para os participantes colocarem a mão na massa e
                aprenderem na prática diversos aspectos relacionados à programação, design gráfico e outras áreas do
                conhecimento.</p>
        <p>As competições de programação serão um desafio para os estudantes, que poderão testar seus conhecimentos e
                habilidades na resolução de problemas de lógica e algoritmos. Já os jogos digitais e de tabuleiro serão
                uma opção de lazer e descontração, que permitirão aos participantes se divertirem e relaxarem durante o
                evento.</p>
        <p>Outra atração que promete fazer sucesso entre os participantes é a competição de cosplay, que premiará os
                melhores cosplayers do evento. Esse é um momento de diversão e criatividade, em que os participantes
                poderão mostrar todo seu talento e habilidade na criação de fantasias e personagens.</p>
        <p>É importante salientar que esse evento está sendo retomado depois de dois anos parados devido à pandemia. Com
                a vacinação em andamento, os organizadores se sentem seguros para realizar a SACI, seguindo todas as
                medidas de segurança e protocolos sanitários necessários.</p>
        <p>A 7ª SACI 2022 promete ser um evento inesquecível, que oferecerá uma oportunidade única para estudantes e
                profissionais da área de Tecnologia da Informação se conectarem, aprenderem e se divertirem juntos. Com
                uma programação variada e atrativa, a expectativa é de que o evento seja um sucesso e possa ser
                realizado anualmente de agora em diante.</p>
</div>

<%-include('../rodape.ejs')%>